POKEDEX_DATASET_PATH=../data/pokedex.json
POKEDEX_DATASET_SHA256=251b7a02837bcb01a491e40de488ef179c95df7d7cb7e0aec1f4562d9d16cadb
POKEDEX_CORS_ORIGINS=["http://localhost:5173"]
POKEDEX_HOST=127.0.0.1
POKEDEX_PORT=8000
